body {
  background-color: lightblue;
}

section {
  background-color: darkslategray;
  border: 5px solid darksalmon;
  border-radius: 5px;
  color: salmon;
  margin: 10%;
  padding: 10%;
}

h1{
  text-align: center;
}

h2 {
  text-align: center;
}
