body {
  background-color: #ece1cb;
  height: 100%
}

p {
  text-align: justify;
}

/*Heading Tags*/
h1 {
  font-family: stardust;
  src: url(http://www.dafont.com/stardust.font);
  font-size: 8vw;
  text-align: left;
  margin: auto;
  color: #F4A460;
}
h2 {
  text-align: center;
}

h3 {
  font-weight: bold;
}

/*List Tags*/
ol, ul {
  list-style-position: inside;
  border-color: darksalmon;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

li {
  color: #ece1cb;
  font-style: italic;
  font-size: 1.5vmax;
  padding: 2px;
  margin: 2px;
}

/*Header and Footer*/
.header {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
  width: auto;
  height: 12vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: saddlebrown;
  font-family: tahoma;
}

.footer {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
  width: auto;
  height: 3vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: saddlebrown;
  font-family: tahoma;
}

/*Container Tags*/
.columns {
  margin: 40px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}

.container1 {
  width: 60%;
  height: 30%;
  margin: auto;
  padding: 2%;
  float: left;
}

.container2 {
  width: 30%;
  height: 30%;
  margin: auto;
  padding: 2%;
  float: right;
}

.content {
  margin-top: 12%;
  margin-bottom: 30%;
}

.tagline {
  width: 95%;
  height: 5%;
  padding: 2%;
  float: left;
}

/*Text Tags*/
.cookie-total {
  color: salmon;
  font-style: normal;
  font-weight: bold;
}

.notes {
  color: #ece1cb;
  font-style: italic;
  font-size: 1.5vw;
  text-align: right;
  margin: auto;
  padding: 2px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-width: 0px;
  font-size: 1.5vw;
}

.horizlink {
    display: inline;
    text-align: right;
}

a:link {
  color: #ece1cb;
  text-decoration: none;
}

/*Image Tags*/
#salmon {
  width: 80%;
  float: right;
}
